<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="welcome">
        <img src="https://assets.trustwalletapp.com/blockchains/smartchain/assets/0x00e1656e45f18ec6747F5a8496Fd39B50b38396D/logo.png" alt="logo">
        <h1>Sistema Financeiro</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Despesas" nzIcon="dislike">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="despesas">Gerenciar Despesas</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Lucros" nzIcon="dollar">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="lucros">Gerenciar Lucros</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
