#topo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#btadddesp{
  margin-right: 250px;
}

#data-saldo{
  display: flex;
  flex-direction: column;
}

#proxmes{
  margin-left: 300px;
}



#inputparc{
  width: 40px;
}

#divtopo{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 100;
}

#divtopo span{
  margin-right: 10px;
  margin-left: 5px;
}
