<div id="topo">
  <button id="btadddesp" (click)="OpenModal()"  nz-button nzType="primary">
    <i nz-icon nzType="plus"></i>
    Adicionar Despesa
  </button>
  <div id="data-saldo">
    <span>Mês Atual : {{mes}}</span>
    <span>Saldo Disponível : R$:500,00</span>
  </div>
  <span id="proxmes">Próximo mês</span>
</div>
<br>
<nz-table #basicTable [nzData]="despesas">
  <thead>
    <tr>
      <th>Pago</th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Parcelas Restantes</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <label nz-checkbox [(ngModel)]="data.statusDespesa"></label>
      </td>
      <td>{{data.nome}}</td>
      <td>{{data.valor}}</td>
      <td>{{data.parcela}}</td>
      <td>
        Excluir | Editar
      </td>
    </tr>
  </tbody>
</nz-table>



    <nz-modal
      [nzStyle]="{ top: '20px' }"
      [(nzVisible)]="isVisibleTop"
      nzTitle="Adicionar Despesa"
      (nzOnCancel)="handleCancelTop()"
      (nzOnOk)="addDespesa()"
    >
      <ng-container *nzModalContent>
        <div id="modalinclude">
          <div id="divtopo">
            <span>Nome :</span>  <input [(ngModel)]="newDespesa.Nome" type="text">
            <span>Valor :</span>  <input [(ngModel)]="newDespesa.Valor" type="text">
          </div>
          <div>
            Parcelas : <input id="inputparc"  [(ngModel)]="newDespesa.Parcela" type="text">
            Tipo de Despesa : <input type="text"  [(ngModel)]="newDespesa.TipoDespesaId">
          </div>

        </div>
      </ng-container>
    </nz-modal>
