<div id="topo">
  <button id="btadddesp" (click)="showModal2()"  nz-button nzType="primary">
    <app-add-despesa *ngIf="isVisibleTop"></app-add-despesa>
    <i nz-icon nzType="plus"></i>
    Adicionar Despesa
  </button>
  <div id="data-saldo">
    <span>Mês Atual : {{mes}}</span>
    <span>Saldo Disponível : R$:500,00</span>
  </div>
  <span id="proxmes">Próximo mês</span>
</div>
<br>
<nz-table #headerTable [nzData]="despesas" [nzPageSize]="5" [nzScroll]="{ y: '240px' }">
  <thead>
    <tr>
      <th>Pago</th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Parcelas Restantes</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of headerTable.data">
      <td>
        <label nz-checkbox [(ngModel)]="data.statusDespesa"></label>
      </td>
      <td>{{data.nome}}</td>
      <td>{{data.valor}}</td>
      <td>{{data.parcela}}</td>
      <td>
        Excluir | Editar
      </td>
    </tr>
  </tbody>
</nz-table>

